@import url(http://fonts.googleapis.com/css/family=Lato:300,400,700|PT++Mono);

:root { 
    --primary-color:#9dc9ac;  /*declarar variáveis*/
    --secunday-color:#fffec7;
    --tertiary-color:#ff9d2e;
}

body {
   background-color:var(--primary-color); /*cor de todo o body, pagina*/
   font: size 15px; 
   font-family: Lato, sans-serif;
}

#container {
    height: 525px; 
    width: 360px;
    margin: 100px auto;
    background:var(--secunday-color) ;  /*cor apenas do qo que está dentro da classe container*/
    box-shadow:5px 5px 5px gray;
    border-radius: 20px;
}

.title {
    background:var(--tertiary-color) ;
    color:#ab4b1b;
    padding:20px;
    text-transform:uppercase;
    font-size: 20px;
    font-weight:normal;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    text-align: center;
}

.tipsForm {
 padding-left: 20px;
}

.formInput {
    background: white;
    width: 40px; 
    padding:5px 5px 8px 8px ;
}

.formInput:focus{
    border: 3px solid var(--primary-color);
}

.formSelect {
    width: 180px;
    padding: 5px;
    font-size: 12px;
    
}

.formSelect:focus {
    border: 3px solid var(--primary-color); 
}

.formSubmit {
    text-transform: uppercase;
    font-weight: bold;   
    display: block;
    margin: 30px auto;
    background:#f56218;
    border-radius: 5px;
    width: 200px; 
    font-size:17px;
}

#totalTips {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}